.PaginationComponent {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);

  .space-name {
    color: black;
  }
  .arrow-nav {
    // background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    background-color: rgb(1, 121, 122);
    font-size: 2rem;
    color: rgba(255, 255, 255, .25);
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 50%;
    width: 50px;
    height: 50px;

    &:hover {
      color: #fff;
    }
  }

  .current-page {
    font-size: 2rem;
    color: black;

    &:hover {
      color: black;
    }
  }
}